# Python #
# Arquivos compilados do Python
*.py[cod]
__pycache__/
*.pyo
*.pyc

# Configurações do ambiente virtual
env/
venv/
ENV/
.venv/

# Cache do pip
pip-log.txt
pip-delete-this-directory.txt

# Pastas de cache e logs
*.log
*.sqlite3
*.db
*.db-journal
instance/
*.egg-info/

# Ferramentas de Teste
htmlcov/
.tox/
.pytest_cache/

# IDEs #
# PyCharm
.idea/
# VSCode
.vscode/

# Docker #
# Pastas de compilação e dados temporários
docker-compose.override.yml
.dockerignore
docker-compose.yml

# Arquivos de configuração sensíveis
/.env
# Outros #
# Arquivos criados pelo sistema operacional
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
logs/
*.log
